*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.kotlin
build
gradle
gradlew.bat
gradlew
uniplugin_component/build
uniplugin_module/build
uniplugin_richalert/build
uts-toast/build
uniapp示例工程源码/unipluginDemo/unpackage
